html
  height: 100%

body
  margin: 0px
  font-family: IRANYekanFaNum,sans-serif
  background-image: url(./../assets/BG.jpg)
  background-size: cover
  object-fit: contain
  background-image: -webkit-image-set(url(./../assets/BG@2x.jpg) 2x, url(./../assets/BG@3x.jpg) 3x)
  background-image: image-set(url(./../assets/BG@2x.jpg) 2x, url(./../assets/BG@3x.jpg) 3x)

.home
  align-content: center

  .digilogo
    width: 57%
    padding: 7% 22% 0% 22%

  .enterForm,
  form
    width: 100%

  .inputSize
    width: 78%
    height: 64px
    display: block
    padding: 0px
    border: 0px
    border-radius: 11px
    opacity: 0.6

  .userName
    margin: 31px 10% 65px 10%
  .userName::placeholder
    text-align: right
    padding: 16px 20px 19px 0px

  .password
    margin: 0px 10% 31px 10%
  .password::placeholder
    text-align: right
    padding: 16px 20px 19px 0px

  .submit
    margin: 30px 10% 65px 10%
    opacity: 1
    background-color: rgb(246,174,131)
    text-align: center
    text-justify: center
  p
    margin-block-start: 0px
    margin-block-end: 0px
  .text
    margin: 0px 10% 0px 10%
    text-align: right
    font-size: 14px
    width: 63%


    .phoneNumber
      display: inline
      background-color: rgba(255, 255, 255, 0.4)
